.container {
  width: 1100px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    height: 100vw;
    margin: 10vh 0;

    img {
      height: 100%;
    }
  }
}
