.hero {
  height: 100vh;
  .container-hero {
    width: 1440px;
    min-width: 1440px;
    .hero-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      .hero-content {
        width: 50%;
        .hero-content-inner {
          width: 400px;
          margin: 0;
          h1 {
            .hero-content-line {
              margin: 0;
              height: 44px;
              overflow: hidden;
            }
          }
          p {
          }
          button {
          }
        }
      }
    }
  }
}
.hero-image-lithograph {
  width: 300px;
}
