.hero {
  height: 100vh;
  .container-hero {
    width: 1440px;
    min-width: 1440px;
    .hero-inner {
      // display: flex;
      // align-items: center;
      // // justify-content: space-between;
      // // margin: 0 24px;
      // // height: 100vh;
      .hero-content {
        .hero-content-inner {
          h1 {
            .hero-content-line {
            }
          }
          p {
          }
          button {
          }
        }
      }
    }
  }
}
