.paintings-container {
  display: grid;
  margin: 1rem;
  padding: 0;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 300px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  overflow: auto;
}

.individual-painting {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 300px);
  grid-auto-flow: dense;
  overflow: auto;
  height: 300px;
  grid-auto-flow: dense;
  object-fit: fill;
  outline: none;
  cursor: pointer;
}

.modal-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  padding: 1vw;
  background-color: black;
  color: #dde3e9;
  font-size: large;
  font-family: "Nunito", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}
